{% extends 'base.html.twig' %}

{% block body %}
    <div class="card shadow-lg m-auto">
        <div class="card-header">Merci de vous identifier</div>
        <div class="card-body">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="mb-4">
                    <input type="email" value="{{ last_username }}" size="30" name="email" id="inputEmail" class="form-control-lg w-100" autocomplete="email" placeholder="E-mail" required autofocus>
                </div>
                <div class="mb-4">
                    <input type="password" name="password" id="inputPassword" class="form-control-lg w-100" autocomplete="current-password" placeholder="Mot de passe" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn btn-lg btn-info" type="submit">Se connecter</button>
            </form>
        </div>
    </div>
{% endblock %}
