/*FONTS IMPORT*/
@font-face {
    font-family: "Georama";
    src: url("../fonts/Georama-Regular.ttf");
}
@font-face {
    font-family: "NotoSansMono-Regular";
    src: url("../fonts/NotoSansMono-Regular.ttf");
}
@font-face {
    font-family: "NotoSansMono-light";
    src: url("../fonts/NotoSansMono-Light.ttf");
}

body, .menuItem, .card-title{
    font-family: "Georama";
}

.card-text{
    font-family: 'NotoSansMono-Regular';
    font-size: 0.9em;
}

.bookGenre{
    color:#CF850F;
    font-size: 11px;
    font-family: "NotoSansMono-light";
}

.reservedBook-img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.ribbon {
    z-index: 1000!important;
    margin: 0;
    padding: 0;
    background: indianred;
    color:white;
    padding:1em 0;
    position: absolute;
    top:0;
    right:0;
    transform: translateX(30%) translateY(0%) rotate(45deg);
    transform-origin: top left;
}
.ribbon:before,
.ribbon:after {
    content: '';
    position: absolute;
    top:0;
    margin: 0 -1px; /* tweak */
    width: 100%;
    height: 100%;
    background: indianred;
}
.ribbon:before {
    right:100%;
}

.ribbon:after {
    left:100%;
}